language: node_js
node_js:
  - 0.10

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g karma
  - npm install -g bower
  - npm install -g grunt-cli

install:
  - npm install
  - bower install

before_script:
  - grunt

script:
  - karma start --no-auto-watch --single-run --reporters dots --browsers Firefox
