.ng-slider {
  position: relative;
  display: block;
}
.ng-slider,
.ng-slider * {
  box-sizing: border-box;
}
.ng-slider .ng-slider-knob {
  position: absolute;
  display: block;
}
.ng-slider .ng-slider-bar {
  position: absolute;
  display: block;
}
