<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-slider by Venturocket</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Angular-slider</h1>
        <p>Slider directive for AngularJS. Based on: http://github.com/prajwalkman/angular-slider</p>

        <p class="view"><a href="https://github.com/Venturocket/angular-slider">View the Project on GitHub <small>Venturocket/angular-slider</small></a></p>


        <ul>
          <li><a href="https://github.com/Venturocket/angular-slider/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/Venturocket/angular-slider/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/Venturocket/angular-slider">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h2>
<a name="features" class="anchor" href="#features"><span class="octicon octicon-link"></span></a>Features</h2>

<ul>
<li>Single or dual knob</li>
<li>Fully Stylable</li>
<li>Adjustable knob "Stickiness"</li>
<li>Adjustable minimum range width</li>
<li>Draggable range</li>
<li>Touch and IE10/Win8 pointer event support</li>
</ul><h2>
<a name="known-issues" class="anchor" href="#known-issues"><span class="octicon octicon-link"></span></a>Known Issues</h2>

<ul>
<li>Doesn't work in IE&lt;9</li>
</ul><h2>
<a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a>Usage</h2>

<h3>
<a name="single-knob" class="anchor" href="#single-knob"><span class="octicon octicon-link"></span></a>Single Knob</h3>

<h4>
<a name="markup" class="anchor" href="#markup"><span class="octicon octicon-link"></span></a>Markup</h4>

<p>As an element:</p>

<pre><code>&lt;slider
    ng-model="{string}"
    floor="{float}"
    ceiling="{float}"
    step="{float}"
    precision="{integer}"
    stretch="{integer}"
    translate="{string}"&gt;
&lt;/slider&gt;
</code></pre>

<p>As an attribute:</p>

<pre><code>&lt;div
    slider
    ng-model="{string}"
    floor="{float}"
    ceiling="{float}"
    step="{float}"
    precision="{integer}"
    stretch="{integer}"
    translate="{string}"&gt;
&lt;/div&gt;
</code></pre>

<h4>
<a name="parameters" class="anchor" href="#parameters"><span class="octicon octicon-link"></span></a>Parameters</h4>

<table>
<thead><tr>
<th>Param</th>
<th>Type</th>
<th>Details</th>
</tr></thead>
<tbody>
<tr>
<td>ng-model</td>
<td>string</td>
<td>Assignable angular expression to which to data-bind the value.</td>
</tr>
<tr>
<td>floor</td>
<td>float</td>
<td>The lowest value possible</td>
</tr>
<tr>
<td>ceiling</td>
<td>float</td>
<td>The highest value possible</td>
</tr>
<tr>
<td>step</td>
<td>float (optional)</td>
<td>The width between each tick. Default: infinite</td>
</tr>
<tr>
<td>precision</td>
<td>integer (optional)</td>
<td>The numerical precision to which to round the value. Default: 0</td>
</tr>
<tr>
<td>stretch</td>
<td>integer (optional)</td>
<td>How stretch resistant the knobs will act. The higher the stretch resistance the more "snappy" the knobs will feel. Default: 3</td>
</tr>
<tr>
<td>translate</td>
<td>string (optional)</td>
<td>A translation function to apply to all view values. Be sure to omit the parentheses (e.g. "transFunc" instead of "transFunc()")</td>
</tr>
</tbody>
</table><h2></h2>

<h3>
<a name="dual-knob" class="anchor" href="#dual-knob"><span class="octicon octicon-link"></span></a>Dual Knob</h3>

<h4>
<a name="markup-1" class="anchor" href="#markup-1"><span class="octicon octicon-link"></span></a>Markup</h4>

<p>As an element:</p>

<pre><code>&lt;slider
    ng-model-low="{string}"
    ng-model-high="{string}"
    floor="{float}"
    ceiling="{float}"
    step="{float}"
    precision="{integer}"
    stretch="{integer}"
    translate="{string}"&gt;
&lt;/slider&gt;
</code></pre>

<p>As an attribute:</p>

<pre><code>&lt;div
    slider
    ng-model-low="{string}"
    ng-model-high="{string}"
    floor="{float}"
    ceiling="{float}"
    step="{float}"
    buffer="{float}"
    precision="{integer}"
    stretch="{integer}"
    translate="{string}"&gt;
&lt;/div&gt;
</code></pre>

<h4>
<a name="parameters-1" class="anchor" href="#parameters-1"><span class="octicon octicon-link"></span></a>Parameters</h4>

<table>
<thead><tr>
<th>Param</th>
<th>Type</th>
<th>Details</th>
</tr></thead>
<tbody>
<tr>
<td>ng-model-low</td>
<td>string</td>
<td>Assignable angular expression to which to data-bind the low value.</td>
</tr>
<tr>
<td>ng-model-high</td>
<td>string</td>
<td>Assignable angular expression to which to data-bind the high value.</td>
</tr>
<tr>
<td>floor</td>
<td>float</td>
<td>The lowest value possible</td>
</tr>
<tr>
<td>ceiling</td>
<td>float</td>
<td>The highest value possible</td>
</tr>
<tr>
<td>step</td>
<td>float (optional)</td>
<td>The width between each tick. Default: infinite</td>
</tr>
<tr>
<td>buffer</td>
<td>float (optional)</td>
<td>The minimum difference between the low and high values. Default: 0</td>
</tr>
<tr>
<td>precision</td>
<td>integer (optional)</td>
<td>The numerical precision to which to round the value. Default: 0</td>
</tr>
<tr>
<td>stretch</td>
<td>integer (optional)</td>
<td>How stretch resistant the knobs will act. The higher the stretch resistance the more "snappy" the knobs will feel. Default: 3</td>
</tr>
<tr>
<td>translate</td>
<td>string (optional)</td>
<td>A translation function to apply to all view values. Be sure to omit the parentheses (e.g. "transFunc" instead of "transFunc()")</td>
</tr>
</tbody>
</table>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/Venturocket">Venturocket</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-20652388-5");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>