.ng-slider {
    position:         relative;
    display:          block;

    &, & * {
        box-sizing: border-box;
    }

    .ng-slider-knob {
        position:         absolute;
        display:          block;
    }

    .ng-slider-bar {
        position:         absolute;
        display:          block;
    }
}
